Flask==2.3.3
gunicorn==23.0.0
SQLAlchemy==2.0.21
requests==2.32.3
python-dotenv==1.0.0
Werkzeug==2.3.7
Flask-WTF==1.2.2
WTForms==3.2.1
Flask-Login==0.6.2
pydantic==2.9.2
numpy==1.26.4
pandas==2.2.3
Pillow==10.0.1
